{{>header}}
{{>navbar}}
{{!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> --}}
<section class="container my-5">
    <h3 class="text-center text-primary">All Posts</h3>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {{#if isEmpty}} {{!--Template Language--}}
          <tr>
            <td colspan="3" class="bg-danger">No posts</td>
          </tr>
          {{/if}}
          {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>
                    <a href="/single/{{this.id}}" class="btn btn-primary">Show</a>
                    <a href="/edit/{{this.id}}" class="btn btn-warning">Edit</a>
                    <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{>footer}}